# Server Configuration
SERVER_PORT=8080
SERVER_HOST=0.0.0.0
SERVER_READ_TIMEOUT=10s
SERVER_WRITE_TIMEOUT=10s

# Sonyflake Configuration
SONYFLAKE_START_TIME=2026-01-02T15:04:05Z07:00
SONYFLAKE_SEQUENCE_BITS=10

# Database Configuration
# if true Postgres Configuration are ignored
# and make docker-up does not start Postgres and Migrate containers with docker compose
DB_USE_IN_MEMORY=true

# Postgres Configuration
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgrespwd
POSTGRES_NAME=shortener
POSTGRES_SSLMODE=disable